/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace; 
}

/* navbar styles starts from here */

.navbar-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.resume-button{
    padding: 12px 18px 12px 18px;
    border-radius: 8px;
    background-color: white;
}
.my-name{
    margin-top: 12px;
}

/* navbar styles ends */

/* banner-section styles starts from here */

.banner-section-container{
    max-width: 1440px;
    height: 600px;
    background-image: url(../assets/Hero-bg.png);
    margin-top: 30px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-image-containner{
    margin-top: 40px;
}
.banner-text-containner>h1{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.banner-text-containner>p{
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    text-align: center;
}
.contact-button{
    font-size: 20px;
    padding: 18px 22px 18px 22px;
    border-radius: 5px;
    background: rgb(13, 19, 33);
    margin-top: 20px;
    margin-left: 210px;
    color: white;
}

/* banner-section styles ends */