/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace; 
}

/* navbar styles starts from here */

.navbar-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.resume-button{
    padding: 12px 18px 12px 18px;
    border-radius: 8px;
    background-color: white;
}
.my-name{
    margin-top: 12px;
}

/* navbar styles ends */